body {
    font-family: 'Times New Roman', Times, serif;
    background-color:#4c8ede;
}

.container {
    width: 600px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 150px;
    resize: vertical;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}